*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000099;
}
.content{
    width: 400px;
    height: 400px;
    /* border: 2px solid black; */
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 15px 15px 30px black;
                
}          
.clock
{
    width: 325px;
    height: 325px;
    border: 2px solid black;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: url(https://illustoon.com/photo/5056.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow:inset 15px 15px 30px #665800,inset -15px -15px  30px #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr{
    width: 150px;
    height: 150px;
    /* border: 2px solid black; */
    position: absolute;
    display: flex;
    justify-content: center;

}
.min{
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
    position: absolute;
    display: flex;
    justify-content: center;

}
.sec{
    width: 250px;
    height: 250px;
    /* border: 2px solid black; */
    position: absolute;
    display: flex;
    justify-content: center;
}
.clock::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid red;
}
.hr::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 75px;
    background-color: black;
    z-index: 10;
    border-radius: 50%;
}
.min::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100px;
    background-color: black;
    z-index: 11;
    border-radius: 50%;
}
.sec::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: black;
    z-index: 12;
    border-radius: 50%;
}
